[submodule "helios-pqc"]
	path = helios-pqc
	url = ../helios-pqc
[submodule "lattice-primitives"]
	path = lattice-primitives
	url = ../lattice-primitives.git
[submodule "lbvs-lib"]
	path = lbvs-lib
	url = ../lbvs-lib
[submodule "players-api"]
	path = players-api
	url = ../players-api
