[submodule "helios-pqc"]
	path = helios-pqc
	url = ../helios-pqc
[submodule "lattice-primitives"]
	path = lattice-primitives
	url = ../lattice-primitives.git
[submodule "flint"]
	path = flint
	url = https://github.com/flintlib/flint
